@page "/"

@* @inject IDemo _demo
@inject IDemo _demo2 *@

@inject IEnumerable<IDemo> _demos
@inject ProcessDemo _processDemo





@foreach (var item in _demos)
{
    @if (item is ILocalDemo)
    {
        <h2>Demo: @item.StartUpTime.ToString("hh:mm:ss ffffff")</h2>

    }

    @if (item is IUtcDemo)
    {
        <h2>UTC Demo: @item.StartUpTime.ToString("hh:mm:ss ffffff")</h2>
    }
}
@* <h2>Demo Time: @_demo.StartUpTime.ToString("hh:mm:ss ffffff")</h2>
<h2>Demo2  Time: @_demo.StartUpTime.ToString("hh:mm:ss ffffff")</h2>
 *@
<h3>Days in Month: @_processDemo.GetDaysInMonth()</h3>
<h3>Another Number @_processDemo.AnotherNumber</h3>


@code {
    BlazorServerDemo1.Models.PersonModel p = new Models.PersonModel();
}

